@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

body {
  margin: 0;
  padding: 0;
  color: #3c484e;
  // overflow: scroll;
}

.Main{
  height: 100%;
  padding: 0px;
}


.Dashboard__conrainer-side-drawer{
  grid-area: side;
  }
.Dashboard__conrainer-canvas {
  grid-area: products;
}