@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

body{
  padding: 0;
  color: #3c484e;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

.Main{
  padding: 0px;
  height: 100%;
  }

.Dashboard__conrainer {
  display: grid;
  grid-template-areas: "side products";
}
.Dashboard__conrainer-side-drawer{
    grid-area: side;
}
.Dashboard__conrainer-canvas{
    grid-area: products;
} 