.Cart-on{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #456d56;
  padding-right: 20px;
  display: flex;
  height: 30px;
  width: 100%;
  position: fixed;
  bottom: 50px;

}
.Cart-on-checkout{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  width: 30px;
  margin: 0 0 0 .5em;
}
.Cart-on-alert{
  display: flex;
  color: white;
  font-size: 14px;
  margin-left: 5px;
}

a{
  text-decoration: none;
  color: white;  
}
.Cart-off{
  display: none;
}

.fas fa-shopping-cart{
  color: beige;
}