.footer {
  display: flex;
  align-items: center;
  background-color: #2f2e31;
  display: flex;
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0px;
}
.spacer {
  width: 3vw;
  height: 5px;
}

.footer h3 a {
  color: black;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer_text {
  color: beige;
}
