body{
  margin: 0px;

}
.login {
  display: flex;
  justify-content: center;
  align-items: center; 
  background: #1E1E1E;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  color: white;
}
h1{
  font-size: 10vh;
}
.login__container{
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  padding: 20px 23px 0px;
  border-radius: 60px;
  height: 60vh;
}
.login__container--form{
  display: flex;
  flex-direction: column;
}

.login__container--form label{
  font-size: 14px;
}
.login__container--remember-me{
  color: white;
  justify-content: space-between;
  margin-top: 10px;
}
.login__container--remember-me a{
  color: white;
  font-size: 14px;
  text-decoration: none;
}
.login__container--remember-me a:hover{
  font-size: 16px;
  text-decoration: underline;
}
.login__container--social-media{
  display: flex;
  flex-flow: column;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.login__container--social-media a{
  color: white;
  font-size: 14px;
  text-decoration: none;   
}
.login__container--register a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Muli', sans-serif;
}



.button{
  background: #2B5D30;
  width: 80px;
  height: 30px;
  border: 0px;
  border-radius: 25px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Muli', sans-serif;
  justify-self: left;
}

.input {
  border: 1px solid white;
  border-radius: 30px;
  height: 30px;
  background: whitesmoke;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: 'Muli', sans-serif;
  outline: none;
  font-size: 16px;
  padding: 0px 20px;
}
::placeholder{
  color: grey;
}

.footer{
  display: flex;
  background: #1E1E1E;
}
.footer a{
  color: white;
  margin: 3px;
  text-decoration: none;
}
